{% extends "base.html" %}
{% block content %}
<body xmlns="http://www.w3.org/1999/html">
<section class="position-relative py-4 py-xl-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2></h2>
                <p class="w-lg-50"></p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div class="card mb-5">
                    <div class="card-body d-flex flex-column align-items-center">
                        <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M9 19h-4v-2h4v2zm2.946-4.036l3.107 3.105-4.112.931 1.005-4.036zm12.054-5.839l-7.898 7.996-3.202-3.202 7.898-7.995 3.202 3.201zm-6 8.92v3.955h-16v-20h7.362c4.156 0 2.638 6 2.638 6s2.313-.635 4.067-.133l1.952-1.976c-2.214-2.807-5.762-5.891-7.83-5.891h-10.189v24h20v-7.98l-2 2.025z"/>
                            </svg>
                        </div>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        <div class="alert alert-warning" role="alert">
                            {% for message in messages %}
                            {{ message }}<br>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endwith %}
                        <div class="mb-3">
                            <form action="{{ url_for('user.process_login') }}" method="post">
                                {{ form.hidden_tag() }}
                                <div class="form-group">{{ form.username.label }}<br>
                                    {{ form.username() }}
                                </div>
                        <div class="mb-3">
                            <div class="form-group"> {{ form.password.label }}<br>
                                {{ form.password() }}
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary d-block w-100"> {{form.submit}}</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
{% endblock %}