
<div id="carousel" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        {% for visual in home_page.carouselimage %}
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="{{loop.index0 }}" aria-label="{{visual.title}}" {% if loop.index == 1 %} class="active" aria-current="true" {% endif %}></button>
        {% endfor %}
    </div>
    
    
    <div class="carousel-inner">
        {% for visual in home_page.carouselimage%}
        <div class="carousel-item{% if loop.index == 1 %} active{% endif %}">
            <img src="{{ url_for('static', filename=visual.image_path)}}" class="d-block w-100"
                 alt="{{ visual.title }}">
            <div class="carousel-caption d-none d-md-block">
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Предыдущий слайд</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Следующий слайд</span>
    </button>
   </div>

   