{% extends 'base.html' %}

{% block title %}
{{ route.title }}
{% endblock %}

{% block content %}
<a href="{{ url_for('index') }}">Вернуться к списку маршрутов</a>
<h1>{{ route.title }}</h1>
<body>
<div class="container text-center">
    <h1 class="h3 mt-5 mb-1">Фото Агурские водопады</h1>
    <h2 class="lead mt-0 mb-5"></h2>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"/>

        {% include 'carousel.html' %}
</body>

<p>{{ route.description|safe }}</p>

{% endblock %}




