
<div class="footer-basic">
        <footer>
            <div rel='shortcut ico' class="social"><a href="{{url_for('static', filename='favicon.ico') }}"><i class="fa-brands fa-telegram"></i></a>
                <a rel='shortcut ico' href="{{url_for('static', filename='favicon.ico') }}"><i class="icon ion-social-snapchat"></i></a>
                <a rel='shortcut ico' href="{{url_for('static', filename='favicon.ico') }}"><i class="fa-brands fa-github"></i></a>
            </div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">Company Name © 2022</p>
        </footer>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://kit.fontawesome.com/40df763d55.js" crossorigin="anonymous"></script>

</div>
