{% extends 'base.html' %}
{% block content %}
<div class="grid-posts">
    <div class="container">
      <div class="row">
        {% for maps_routes in map_rout %}
          <div class="col-md-4">
            <div class="card-body">
              <img src="{{ url_for('static', filename=thumbnail(maps_routes.image)) }}" class="card-img-top" alt="{{ maps_routes.title }}">
              <div class="card-body">
                <h5 class="post-title">{{ maps_routes.title }}</h5>
                <p class="card-text">{{ maps_routes.description|truncate(64)|safe }}</p>
                <a href="{{ url_for('detail', pk=maps_routes.id) }}" class="btn btn-primary">Подробнее</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}