<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<h1>Бзерпенский карниз</h1>
<body>


    {% include "map.html" %}
    
    <p>Походы на Бзерпинский (Бзерпский) карниз и гору Ачишхо очень популярны среди отдыхающих в окрестностях Красной поляны.  С Бзерпинского карниза открывается замечательный вид на посёлок Красная поляна и соседние вершины. Для массового туриста маршрут рекомендован в период с июня по ноябрь.
    Тропы проходят по территории Кавказского биосферного заповедника. Здесь создано сразу несколько увлекательных маршрутов, доступных людям с разной физической подготовкой. Есть организованные экскурсии, а есть и самостоятельные туристы.
    </p>
    
</body>
</html>